# pnda_cluster.yaml defines the instances to create for this flavor of PNDA
# The resource_registry.yaml file defines which yaml template to apply to
# each instance type, and these specific yaml files configure the
# instance as required for that type of node.

# It is processed as a jinja2 template with the following parameters:
#   - create_network: 0|1. Set to 1 to create network related resources

heat_template_version: 2014-10-16

parameters:
  SaltmasterFlavor:
    type: string
    description: Flavor for the salmaster nodes
    default: m1.large
  Manager1Flavor:
    type: string
    description: Flavor for the manager nodes
    default: m1.xlarge
  Manager2Flavor:
    type: string
    description: Flavor for the manager nodes
    default: m1.xlarge
  Manager3Flavor:
    type: string
    description: Flavor for the manager nodes
    default: m1.xlarge
  Manager4Flavor:
    type: string
    description: Flavor for the manager nodes
    default: m1.xlarge
  EdgeFlavor:
    type: string
    description: Flavor for the edge node
    default: m1.xlarge
  BastionFlavor:
    type: string
    description: Flavor for the bastion nodes
    default: m1.large
  ZookeeperFlavor:
    type: string
    description: Flavor for the zookeeper nodes
    default: m1.large
  KafkaFlavor:
    type: string
    description: Flavor for the kafka nodes
    default: m1.large
  DatanodeFlavor:
    type: string
    description: Flavor for the data nodes
    default: m1.xlarge
  CMFlavor:
    type: string
    description: Flavor for the CM node
    default: m1.xlarge
  ToolsFlavor:
    type: string
    description: Flavor for the tools nodes
    default: m1.large
  JupyterFlavor:
    type: string
    description: Flavor for the Jupyter nodes
    default: m1.large
  LogserverFlavor:
    type: string
    description: Flavor for the logserver node
    default: m1.large
  OpentsdbFlavor:
    type: string
    description: Flavor for the opentsdb node
    default: m1.large

  image_id:
    type: string
    description: default image for pnda servers
    default: ubuntu1404

  ToolsNodes:
    default: '1'
    description: Number of TOOLS nodes
    type: string
  ZookeeperNodes:
    default: '1'
    description: Number of ZOOKEEPER nodes
    type: string
  KafkaNodes:
    default: '1'
    description: Number of KAFKA nodes
    type: string
  DataNodes:
    default: '4'
    description: Number of DATA nodes
    type: string
  OpentsdbNodes:
    default: 2
    description: Number of Opentsdb nodes
    type: number

  DatanodeVolumeSize:
    default: 200
    type: number

  public_net:
    type: string
    description: >
      ID or name of public network for which floating IP addresses will be allocated
  private_net:
    type: string
  private_subnet:
    type: string
  KeyName:
    description: Name of an existing KeyPair to enable SSH access to the instances
    type: string
  git_private_key_file:
    description: private key file for cloning from git
    type: string
  PndaFlavor:
    description: pnda flavor
    type: string
    default: standard
  SaltmasterIP:
    type: string
  PndaSecGroup:
    type: string
  private_key:
    type: string
  BastionKeyName:
    type: string
  deployment_name:
    type: string
  signal_transport:
    type: string
    default: TEMP_URL_SIGNAL
  software_config_transport:
    type: string
    default: POLL_TEMP_URL
  PndaMirror:
    description: URL of a mirror for operating system package download
    type: string
    default: ''

resources:
  MgrAAGroup:
    type: OS::Nova::ServerGroup
    properties:
      name:
        str_replace:
          template:
            cname-hzk-aagroup
          params:
            cname: { get_param: deployment_name }
      policies: [anti-affinity]
{%if create_zknodes_group is equalto 1 %}
  ZkAAGroup:
    type: OS::Nova::ServerGroup
    properties:
      name:
        str_replace:
          template:
            cname-zknodes-aagroup
          params:
            cname: { get_param: deployment_name }
      policies: [anti-affinity]
{%endif%}
{%if create_kafkanodes_group is equalto 1 %}
  KafkaAAGroup:
    type: OS::Nova::ServerGroup
    properties:
      name:
        str_replace:
          template:
            cname-kafkanodes-aagroup
          params:
            cname: { get_param: deployment_name }
      policies: [anti-affinity]
{%endif%}
{%if create_datanodes_group is equalto 1 %}
  DataNodeAAGroup:
    type: OS::Nova::ServerGroup
    properties:
      name:
        str_replace:
          template:
            cname-datanodes-aagroup
          params:
            cname: { get_param: deployment_name }
      policies: [anti-affinity]
{%endif%}
  ZKSecGroup:
    type: OS::Neutron::SecurityGroup
    properties:
      description: Add security group rules for Data Nodes
      name:
        str_replace:
          template:
            cname-sk
          params:
            cname: { get_param: deployment_name }
      rules:
        - remote_ip_prefix: 0.0.0.0/0
          protocol: tcp
          port_range_min: 22
          port_range_max: 22
        - remote_ip_prefix: 0.0.0.0/0
          protocol: icmp
  KafkaSecGroup:
    type: OS::Neutron::SecurityGroup
    properties:
      description: Add security group rules for Kafka Nodes
      name:
        str_replace:
          template:
            cname-kafka
          params:
            cname: { get_param: deployment_name }
      rules:
        - remote_ip_prefix: 0.0.0.0/0
          protocol: tcp
          port_range_min: 22
          port_range_max: 22
        - remote_ip_prefix: 0.0.0.0/0
          protocol: icmp
  DNSecGroup:
    type: OS::Neutron::SecurityGroup
    properties:
      description: Add security group rules for Data Nodes
      name:
        str_replace:
          template:
            cname-dn
          params:
            cname: { get_param: deployment_name }
      rules:
        - remote_ip_prefix: 0.0.0.0/0
          protocol: icmp
  OpentsdbSecGroup:
    type: OS::Neutron::SecurityGroup
    properties:
      description: Add security group rules for Opentsdb Nodes
      name:
        str_replace:
          template:
            cname-opentsdb
          params:
            cname: { get_param: deployment_name }
      rules:
        - remote_ip_prefix: 0.0.0.0/0
          protocol: icmp
  ToolsSecGroup:
    type: OS::Neutron::SecurityGroup
    properties:
      description: Add security group rules for Data Nodes
      name:
        str_replace:
          template:
            cname-tools
          params:
            cname: { get_param: deployment_name }
      rules:
        - remote_ip_prefix: 0.0.0.0/0
          protocol: icmp
        - remote_ip_prefix: 0.0.0.0/0
          protocol: tcp
          port_range_min: 443
          port_range_max: 443
  bastion:
    type: OS::Pnda::bastion
    properties:
      signal_transport: { get_param: signal_transport }
      software_config_transport: { get_param: software_config_transport }
      Flavor: { get_param: BastionFlavor }
      Image: { get_param: image_id }
      KeyName: { get_param: BastionKeyName }
      name:
        str_replace:
          template: '%stackname%-bastion'
          params:
            '%stackname%': { get_param: deployment_name }
      PrivateNet: { get_param: private_net }
      PrivateSubnet: { get_param: private_subnet }
      PublicNet: { get_param: public_net }
      SaltmasterIP: { get_param: SaltmasterIP }
      private_key: { get_param: private_key }
      pnda_secgroup: { get_param: PndaSecGroup }
      cluster_name: { get_param: deployment_name }
      pnda_flavor: { get_param: PndaFlavor }
      PndaMirror: { get_param: PndaMirror }
      
  zookeeper:
    type: OS::Heat::ResourceGroup
    properties:
      count: { get_param: ZookeeperNodes }
      resource_def:
        type: OS::Pnda::zookeeper
        properties:
          signal_transport: { get_param: signal_transport }
          software_config_transport: { get_param: software_config_transport }
          Flavor: { get_param: ZookeeperFlavor }
          Image: { get_param: image_id }
          KeyName: { get_param: KeyName }
          name:
            str_replace:
              template: '%stackname%-zookeeper-%index%'
              params:
                '%stackname%': { get_param: deployment_name }
          NodeIndex: '%index%'
          PrivateNet: { get_param: private_net }
          PrivateSubnet: { get_param: private_subnet }
          SaltmasterIP: { get_param: SaltmasterIP }
          sec_group: { get_resource: ZKSecGroup }
          cluster_name: { get_param: deployment_name }
          pnda_secgroup: { get_param: PndaSecGroup }
          pnda_flavor: { get_param: PndaFlavor }
          PndaMirror: { get_param: PndaMirror }
{%if create_zknodes_group is equalto 1 %}
          scheduler_group_hint: { get_resource: ZkAAGroup}
{%endif%}
  kafka:
    type: OS::Heat::ResourceGroup
    properties:
      count: { get_param: KafkaNodes }
      resource_def:
        type: OS::Pnda::kafka
        properties:
          signal_transport: { get_param: signal_transport }
          software_config_transport: { get_param: software_config_transport }
          Flavor: { get_param: KafkaFlavor }
          Image: { get_param: image_id }
          KeyName: { get_param: KeyName }
          name:
            str_replace:
              template: '%stackname%-kafka-%index%'
              params:
                '%stackname%': { get_param: deployment_name }
          NodeIndex: '%index%'
          PrivateNet: { get_param: private_net }
          PrivateSubnet: { get_param: private_subnet }
          SaltmasterIP: { get_param: SaltmasterIP }
          sec_group: { get_resource: KafkaSecGroup }
          cluster_name: { get_param: deployment_name }
          pnda_secgroup: { get_param: PndaSecGroup }
          pnda_flavor: { get_param: PndaFlavor }
          PndaMirror: { get_param: PndaMirror }          
{%if create_kafkanodes_group is equalto 1 %}
          scheduler_group_hint: { get_resource: KafkaAAGroup}
{%endif%}
  tools:
    type: OS::Heat::ResourceGroup
    properties:
      count: { get_param: ToolsNodes }
      resource_def:
        type: OS::Pnda::tools
        properties:
          signal_transport: { get_param: signal_transport }
          software_config_transport: { get_param: software_config_transport }
          Flavor: { get_param: ToolsFlavor }
          Image: { get_param: image_id }
          KeyName: { get_param: KeyName }
          name:
            str_replace:
              template: '%stackname%-tools-%index%'
              params:
                '%stackname%': { get_param: deployment_name }
          NodeIndex: '%index%'
          PrivateNet: { get_param: private_net }
          PrivateSubnet: { get_param: private_subnet }
          SaltmasterIP: { get_param: SaltmasterIP }
          sec_group: { get_resource: ToolsSecGroup }
          cluster_name: { get_param: deployment_name }
          pnda_secgroup: { get_param: PndaSecGroup }
          pnda_flavor: { get_param: PndaFlavor }
          PndaMirror: { get_param: PndaMirror }
  cm:
    type: OS::Pnda::cm
    properties:
      signal_transport: { get_param: signal_transport }
      software_config_transport: { get_param: software_config_transport }
      Flavor: { get_param: CMFlavor }
      Image: { get_param: image_id }
      KeyName: { get_param: KeyName }
      name:
        str_replace:
          template: '%stackname%-cdh-cm'
          params:
            '%stackname%': { get_param: deployment_name }
      PrivateNet: { get_param: private_net }
      PrivateSubnet: { get_param: private_subnet }
      SaltmasterIP: { get_param: SaltmasterIP }
      cluster_name: { get_param: deployment_name }
      pnda_secgroup: { get_param: PndaSecGroup }
      pnda_flavor: { get_param: PndaFlavor }
      PndaMirror: { get_param: PndaMirror }
  logserver:
    type: OS::Pnda::logserver
    properties:
      signal_transport: { get_param: signal_transport }
      software_config_transport: { get_param: software_config_transport }
      Flavor: { get_param: LogserverFlavor }
      Image: { get_param: image_id }
      KeyName: { get_param: KeyName }
      name:
        str_replace:
          template: '%stackname%-logserver'
          params:
            '%stackname%': { get_param: deployment_name }
      PrivateNet: { get_param: private_net }
      PrivateSubnet: { get_param: private_subnet }
      SaltmasterIP: { get_param: SaltmasterIP }
      cluster_name: { get_param: deployment_name }
      pnda_secgroup: { get_param: PndaSecGroup }
      pnda_flavor: { get_param: PndaFlavor }
      PndaMirror: { get_param: PndaMirror }
  jupyter:
    type: OS::Pnda::jupyter
    properties:
      signal_transport: { get_param: signal_transport }
      software_config_transport: { get_param: software_config_transport }
      Flavor: { get_param: JupyterFlavor }
      Image: { get_param: image_id }
      KeyName: { get_param: KeyName }
      name:
        str_replace:
          template: '%stackname%-cdh-jupyter'
          params:
            '%stackname%': { get_param: deployment_name }
      PrivateNet: { get_param: private_net }
      PrivateSubnet: { get_param: private_subnet }
      SaltmasterIP: { get_param: SaltmasterIP }
      cluster_name: { get_param: deployment_name }
      pnda_secgroup: { get_param: PndaSecGroup }
      pnda_flavor: { get_param: PndaFlavor }
      PndaMirror: { get_param: PndaMirror }
  manager1:
    type: OS::Pnda::manager1
    properties:
      signal_transport: { get_param: signal_transport }
      software_config_transport: { get_param: software_config_transport }
      Flavor: { get_param: Manager1Flavor }
      Image: { get_param: image_id }
      KeyName: { get_param: KeyName }
      name:
        str_replace:
          template: '%stackname%-cdh-mgr1'
          params:
            '%stackname%': { get_param: deployment_name }
      PrivateNet: { get_param: private_net }
      PrivateSubnet: { get_param: private_subnet }
      SaltmasterIP: { get_param: SaltmasterIP }
      pnda_secgroup: { get_param: PndaSecGroup }
      cluster_name: { get_param: deployment_name }
      pnda_flavor: { get_param: PndaFlavor }
      PndaMirror: { get_param: PndaMirror }
      scheduler_group_hint: { get_resource: MgrAAGroup}
  manager2:
    type: OS::Pnda::manager2
    properties:
      signal_transport: { get_param: signal_transport }
      software_config_transport: { get_param: software_config_transport }
      Flavor: { get_param: Manager2Flavor }
      Image: { get_param: image_id }
      KeyName: { get_param: KeyName }
      name:
        str_replace:
          template: '%stackname%-cdh-mgr2'
          params:
            '%stackname%': { get_param: deployment_name }
      PrivateNet: { get_param: private_net }
      PrivateSubnet: { get_param: private_subnet }
      SaltmasterIP: { get_param: SaltmasterIP }
      pnda_secgroup: { get_param: PndaSecGroup }
      cluster_name: { get_param: deployment_name }
      pnda_flavor: { get_param: PndaFlavor }
      PndaMirror: { get_param: PndaMirror }
      scheduler_group_hint: { get_resource: MgrAAGroup}
  manager3:
    type: OS::Pnda::manager3
    properties:
      signal_transport: { get_param: signal_transport }
      software_config_transport: { get_param: software_config_transport }
      Flavor: { get_param: Manager3Flavor }
      Image: { get_param: image_id }
      KeyName: { get_param: KeyName }
      name:
        str_replace:
          template: '%stackname%-cdh-mgr3'
          params:
            '%stackname%': { get_param: deployment_name }
      PrivateNet: { get_param: private_net }
      PrivateSubnet: { get_param: private_subnet }
      SaltmasterIP: { get_param: SaltmasterIP }
      pnda_secgroup: { get_param: PndaSecGroup }
      cluster_name: { get_param: deployment_name }
      pnda_flavor: { get_param: PndaFlavor }
      PndaMirror: { get_param: PndaMirror }
  manager4:
    type: OS::Pnda::manager4
    properties:
      signal_transport: { get_param: signal_transport }
      software_config_transport: { get_param: software_config_transport }
      Flavor: { get_param: Manager4Flavor }
      Image: { get_param: image_id }
      KeyName: { get_param: KeyName }
      name:
        str_replace:
          template: '%stackname%-cdh-mgr4'
          params:
            '%stackname%': { get_param: deployment_name }
      PrivateNet: { get_param: private_net }
      PrivateSubnet: { get_param: private_subnet }
      SaltmasterIP: { get_param: SaltmasterIP }
      pnda_secgroup: { get_param: PndaSecGroup }
      cluster_name: { get_param: deployment_name }
      pnda_flavor: { get_param: PndaFlavor }
      scheduler_group_hint: { get_resource: MgrAAGroup}
      PndaMirror: { get_param: PndaMirror }
  edge:
    type: OS::Pnda::edge
    properties:
      signal_transport: { get_param: signal_transport }
      software_config_transport: { get_param: software_config_transport }
      Flavor: { get_param: EdgeFlavor }
      Image: { get_param: image_id }
      KeyName: { get_param: KeyName }
      name:
        str_replace:
          template: '%stackname%-cdh-edge'
          params:
            '%stackname%': { get_param: deployment_name }
      PrivateNet: { get_param: private_net }
      PrivateSubnet: { get_param: private_subnet }
      SaltmasterIP: { get_param: SaltmasterIP }
      cluster_name: { get_param: deployment_name }
      pnda_secgroup: { get_param: PndaSecGroup }
      pnda_flavor: { get_param: PndaFlavor }
      PndaMirror: { get_param: PndaMirror }
  dn:
    type: OS::Heat::ResourceGroup
    properties:
      count: { get_param: DataNodes }
      resource_def:
        type: OS::Pnda::dn
        properties:
          signal_transport: { get_param: signal_transport }
          software_config_transport: { get_param: software_config_transport }
          Flavor: { get_param: DatanodeFlavor }
          Image: { get_param: image_id }
          KeyName: { get_param: KeyName }
          name:
            str_replace:
              template: '%stackname%-cdh-dn-%index%'
              params:
                '%stackname%': { get_param: deployment_name }
          NodeIndex: '%index%'
          PrivateNet: { get_param: private_net }
          PrivateSubnet: { get_param: private_subnet }
          SaltmasterIP: { get_param: SaltmasterIP }
          sec_group: { get_resource: DNSecGroup }
          volume_size: { get_param: DatanodeVolumeSize }
          cluster_name: { get_param: deployment_name }
          pnda_secgroup: { get_param: PndaSecGroup }
          pnda_flavor: { get_param: PndaFlavor }
          PndaMirror: { get_param: PndaMirror }
{%if create_datanodes_group is equalto 1 %}
          scheduler_group_hint: { get_resource: DataNodeAAGroup}
{%endif%}
  opentsdb:
    type: OS::Heat::ResourceGroup
    properties:
      count: { get_param: OpentsdbNodes }
      resource_def:
        type: OS::Pnda::opentsdb
        properties:
          signal_transport: { get_param: signal_transport }
          software_config_transport: { get_param: software_config_transport }
          Flavor: { get_param: OpentsdbFlavor }
          Image: { get_param: image_id }
          KeyName: { get_param: KeyName }
          name:
            str_replace:
              template: '%stackname%-opentsdb-%index%'
              params:
                '%stackname%': { get_param: deployment_name }
          NodeIndex: '%index%'
          PrivateNet: { get_param: private_net }
          PrivateSubnet: { get_param: private_subnet }
          SaltmasterIP: { get_param: SaltmasterIP }
          sec_group: { get_resource: OpentsdbSecGroup }
          cluster_name: { get_param: deployment_name }
          pnda_secgroup: { get_param: PndaSecGroup }
          pnda_flavor: { get_param: PndaFlavor }
          PndaMirror: { get_param: PndaMirror }
outputs:
  zookeeper_hosts:
    value: { get_attr: [zookeeper, hosts_entry] }
  kafka_hosts:
    value: { get_attr: [kafka, hosts_entry] }
  tools_hosts:
    value: { get_attr: [tools, hosts_entry] }
