# Definition for the mgr1 instance type
# Specifies which bootstrap script to run to set up this instance type and which roles
# to apply to this instance type

# It is processed as a jinja2 template with the following parameters:
#   - create_network: 0|1. Set to 1 to create network related resources or to 0 when running
#                          for an openstack ironic bare-metal install

heat_template_version: 2015-04-30

parameters:
  Flavor:
    description: Flavor of the manager1 server
    type: string
    default: ec2.m3.xlarge
  KeyName:
    description: Name of an existing ssh keypair
    type: string
{%if create_network is equalto 1 %}
  PrivateNet:
    description: Private network for pnda deployment
    type: string
  PrivateSubnet:
    description: Private network for pnda deployment
    type: string
  pnda_secgroup:
    type: string
{%endif%}
  Image:
    type: string
  name:
    type: string
  SaltmasterIP:
    type: string
  cluster_name:
    type: string
  pnda_flavor:
    type: string
    default: standard
  logvolume_size:
    type: number
    default: 10
  signal_transport:
    type: string
    default: TEMP_URL_SIGNAL
  software_config_transport:
    type: string
    default: POLL_TEMP_URL
  pre_config:
    type: string
  PndaMirror:
    description: URL of a mirror for operating system package download
    type: string
    default: ''
  specific_config:
    description: "Warning: Specific configuration that will be passed to bash scripts as associative array"
    type: string
    default: ''
  package_config:
    type: string
  hadoop_distro:
    type: string

resources:
{%if create_network is equalto 1 %}
  sec_group:
    type: OS::Neutron::SecurityGroup
    properties:
      description: CDH Manager SecurityGroup
      name:
        str_replace:
          template:
            cname-hadoop-mgr1
          params:
            cname: { get_param: cluster_name }
      rules:
        - remote_ip_prefix: 0.0.0.0/0
          protocol: icmp
  port:
    type: OS::Neutron::Port
    properties:
      network: { get_param: PrivateNet }
      fixed_ips:
        - subnet_id: { get_param: PrivateSubnet }
      security_groups: [{ get_resource: sec_group }, { get_param: pnda_secgroup }]
{%endif%}

  install_config:
    type: OS::Heat::SoftwareConfig
    properties:
      group: script
      config:
        str_replace:
          template: {get_file: scripts/base_install.sh }
          params:
            $pnda_mirror$: { get_param: PndaMirror }
            $master_ip$: { get_param: SaltmasterIP }
            $pnda_cluster$: { get_param: cluster_name }
            $flavor$: { get_param: pnda_flavor }
{%if create_volumes is equalto 1 %}
            $log_volume_id$: { get_resource: logvolume }
{%endif%}
            $roles$: 'mysql_connector,oozie_database,hue,opentsdb,grafana'
            $hadoop_role$: 'MGR01'
            $$SPECIFIC_CONF$$: { get_param: specific_config }
            $hadoop_distro$: { get_param: hadoop_distro }	    
  deploy_package:
    type: OS::Heat::SoftwareDeployment
    properties:
      signal_transport: { get_param: signal_transport }
      config:
        get_param: package_config
      server:
        get_resource: server
      actions:
        - CREATE

  install_deployment:
    type: OS::Heat::SoftwareDeployment
{%if create_volumes is equalto 1 %}
    depends_on: [ logvolume_attachment, deploy_package ]
{%else%}
    depends_on: [ deploy_package ]
{%endif%}
    properties:
      signal_transport: { get_param: signal_transport }
      config:
        get_resource: install_config
      server:
        get_resource: server
{%if create_volumes is equalto 1 %}
  logvolume:
    type: OS::Cinder::Volume
    properties:
      size: { get_param: logvolume_size }
      description: Volume for manager1 logs

  logvolume_attachment:
    type: OS::Cinder::VolumeAttachment
    properties:
      volume_id: { get_resource: logvolume }
      instance_uuid: { get_resource: server }
{%endif%}

  server:
    type: OS::Nova::Server
    properties:
      name: { get_param: name }
      image: { get_param: Image }
      flavor: { get_param: Flavor}
      key_name: { get_param: KeyName }
{%if create_network is equalto 1 %}
      networks:
        - port: { get_resource: port }
{%endif%}
      software_config_transport: { get_param: software_config_transport }
      user_data_format: SOFTWARE_CONFIG
      user_data: { get_param: pre_config }
      config_drive: True

outputs:
  server_resource:
    description: Heat resource handle for the Nova compute server
    value:
      {get_resource: server}
