# This flavor specific pnda.yaml defines a saltmaster to run the salt commands
# defined in the base pnda.yaml and a pnda-cluster sub stack containing the 
# rest of the instances

# It is processed as a jinja2 template with the following parameters:
#   - create_network: 0|1. Set to 1 to create network related resources or to 0 when running
#                          for an openstack ironic bare-metal install

parameters:
  SaltmasterFlavor:
    type: string
    description: Flavor for the salmaster nodes
    default: ec2.t2.medium
  Manager1Flavor:
    type: string
    description: Flavor for the manager nodes
    default: ec2.m3.xlarge
  EdgeFlavor:
    type: string
    description: Flavor for the edge node
    default: ec2.m3.xlarge
  BastionFlavor:
    type: string
    description: Flavor for the bastion nodes
    default: ec2.t2.medium
  KafkaFlavor:
    type: string
    description: Flavor for the kafka nodes
    default: ec2.m3.large
  DatanodeFlavor:
    type: string
    description: Flavor for the data nodes
    default: ec2.c4.xlarge
  ZookeeperNodes:
    default: '1'
    description: Number of ZOOKEEPER nodes
    type: string
  KafkaNodes:
    default: '1'
    description: Number of KAFKA nodes
    type: string
  DataNodes:
    default: '4'
    description: Number of DATA nodes
    type: string
  OpentsdbNodes:
    default: 2
    description: Number of Opentsdb nodes
    type: number
  DatanodeVolumeSize:
    default: 10
    type: number
  PndaFlavor:
    description: pnda flavor
    type: string
    default: pico
  signal_transport:
    type: string
    default: TEMP_URL_SIGNAL
  software_config_transport:
    type: string
    default: POLL_TEMP_URL

resources:
  pnda_cluster:
    type: OS::Pnda::cluster
  {%if create_network is equalto 1 %}
    depends_on: [ router_interface, deploy_install, saltmaster_server ]
  {%else%}
    depends_on: [ deploy_install, saltmaster_server ]
  {%endif%}
    properties:
  {%if create_network is equalto 1 %}
      private_net: { get_resource: private_net }
      private_subnet: { get_resource: private_subnet }
  {%endif%}
      git_private_key_file: { get_param: git_private_key_file }
      SaltmasterIP: { get_attr: ['saltmaster_server','first_address']}
  {%if create_network is equalto 1 %}
      public_net: { get_param: public_net }
      KeyName: { get_resource: Key }
      PndaSecGroup: { get_resource: PndaSecGroup }
      private_key: { get_attr: ['Key','private_key'] }
  {%else%}
      KeyName: { get_param: KeyName }
  {%endif%}
      BastionKeyName: { get_param: KeyName }
      deployment_name: { get_param: 'OS::stack_name' }
      image_id: { get_param: image_id }
      EdgeFlavor: { get_param: EdgeFlavor }
      KafkaFlavor: { get_param: KafkaFlavor }
      BastionFlavor: { get_param: BastionFlavor }
      DatanodeFlavor: { get_param: DatanodeFlavor }
      Manager1Flavor: { get_param: Manager1Flavor }
      DataNodes: { get_param: DataNodes }
      DatanodeVolumeSize : { get_param: DatanodeVolumeSize }
      signal_transport: { get_param: signal_transport }
      software_config_transport: { get_param: software_config_transport }

  saltmaster_server:
    type: OS::Nova::Server
  {%if create_network is equalto 1 %}
    depends_on: [ router, private_subnet ]
  {%endif%}
    properties:
      image: { get_param: image_id }
      flavor: { get_param: SaltmasterFlavor }
  {%if create_network is equalto 1 %}
      key_name: { get_resource: Key }
      networks:
        - port: { get_resource: saltmaster_port }
  {%else%}
      key_name: { get_param: KeyName }
  {%endif%}
      name:
        str_replace:
          template: '%stackname%-saltmaster'
          params:
            '%stackname%': {get_param: 'OS::stack_name'}
      software_config_transport: { get_param: software_config_transport }
      user_data_format: SOFTWARE_CONFIG
      config_drive: True
