heat_template_version: 2014-10-16

parameters:
  SaltmasterFlavor:
    type: string
    description: Flavor for the salmaster nodes
  Manager1Flavor:
    type: string
    description: Flavor for the manager nodes
  Manager2Flavor:
    type: string
    description: Flavor for the manager nodes
  EdgeFlavor:
    type: string
    description: Flavor for the edge node
{%if create_bastion is equalto 1 %}
  BastionFlavor:
    type: string
    description: Flavor for the bastion nodes
{%endif%}
  ZookeeperFlavor:
    type: string
    description: Flavor for the zookeeper nodes
  KafkaFlavor:
    type: string
    description: Flavor for the kafka nodes
  DatanodeFlavor:
    type: string
    description: Flavor for the data nodes
  CMFlavor:
    type: string
    description: Flavor for the CM node

  image_id:
    type: string
    description: default image for pnda servers

  ToolsNodes:
    default: '1'
    description: Number of TOOLS nodes
    type: string
  ZookeeperNodes:
    default: '1'
    description: Number of ZOOKEEPER nodes
    type: string
  KafkaNodes:
    default: '1'
    description: Number of KAFKA nodes
    type: string
  DataNodes:
    default: '4'
    description: Number of DATA nodes
    type: string

{%if create_volumes is equalto 1 %}
  DatanodeVolumeSize:
    default: 200
    type: number
  DatanodeMountpoint:
    default: /dev/vdc
    type: string
{%endif%}

{%if create_network is equalto 1 %}
  public_net:
    type: string
    description: >
      ID or name of public network for which floating IP addresses will be allocated
  private_net:
    type: string
  private_subnet:
    type: string
{%endif%}
  KeyName:
    description: Name of an existing KeyPair to enable SSH access to the instances
    type: string
  git_private_key_file:
    description: private key file for cloning from git
    type: string
  PndaFlavor:
    description: pnda flavor
    type: string
  git_private_key_file:
    description: private key file for cloning from git
    type: string
  SaltmasterIP:
    type: string
{%if create_network is equalto 1 %}
  PndaSecGroup:
    type: string
  private_key:
    type: string
{%endif%}
  BastionKeyName:
    type: string
  deployment_name:
    type: string
  signal_transport:
    type: string
  software_config_transport:
    type: string
  specific_config:
    description: "Warning: Specific configuration that will be passed to bash scripts as associative array"
    type: string
    default: ''

resources:
{%if create_network is equalto 1 %}
  ZKSecGroup:
    type: OS::Neutron::SecurityGroup
    properties:
      description: Add security group rules for Data Nodes
      name:
        str_replace:
          template:
            cname-sk
          params:
            cname: { get_param: deployment_name }
      rules:
        - remote_ip_prefix: 0.0.0.0/0
          protocol: tcp
          port_range_min: 22
          port_range_max: 22
        - remote_ip_prefix: 0.0.0.0/0
          protocol: icmp
  KafkaSecGroup:
    type: OS::Neutron::SecurityGroup
    properties:
      description: Add security group rules for Kafka Nodes
      name:
        str_replace:
          template:
            cname-kafka
          params:
            cname: { get_param: deployment_name }
      rules:
        - remote_ip_prefix: 0.0.0.0/0
          protocol: tcp
          port_range_min: 22
          port_range_max: 22
        - remote_ip_prefix: 0.0.0.0/0
          protocol: icmp
  DNSecGroup:
    type: OS::Neutron::SecurityGroup
    properties:
      description: Add security group rules for Data Nodes
      name:
        str_replace:
          template:
            cname-dn
          params:
            cname: { get_param: deployment_name }
      rules:
        - remote_ip_prefix: 0.0.0.0/0
          protocol: icmp
{%endif%}
{%if create_bastion is equalto 1 %}
  bastion:
    type: OS::Pnda::bastion
    properties:
      Flavor: { get_param: BastionFlavor }
      Image: { get_param: image_id }
      KeyName: { get_param: BastionKeyName }
      name:
        str_replace:
          template: '%stackname%-bastion'
          params:
            '%stackname%': { get_param: deployment_name }
      PrivateNet: { get_param: private_net }
      PrivateSubnet: { get_param: private_subnet }
      PublicNet: { get_param: public_net }
      SaltmasterIP: { get_param: SaltmasterIP }
      private_key: { get_param: private_key }
      pnda_secgroup: { get_param: PndaSecGroup }
      cluster_name: { get_param: deployment_name }
      pnda_flavor: { get_param: PndaFlavor }
      specific_config: { get_param: specific_config }
{%endif%}
  zookeeper:
    type: OS::Heat::ResourceGroup
    properties:
      count: { get_param: ZookeeperNodes }
      resource_def:
        type: OS::Pnda::zookeeper
        properties:
          Flavor: { get_param: ZookeeperFlavor }
          Image: { get_param: image_id }
          KeyName: { get_param: KeyName }
          name:
            str_replace:
              template: '%stackname%-zookeeper-%index%'
              params:
                '%stackname%': { get_param: deployment_name }
          NodeIndex: '%index%'
{%if create_network is equalto 1 %}
          PrivateNet: { get_param: private_net }
          PrivateSubnet: { get_param: private_subnet }
          sec_group: { get_resource: ZKSecGroup }
          pnda_secgroup: { get_param: PndaSecGroup }
{%endif%}
          cluster_name: { get_param: deployment_name }
          SaltmasterIP: { get_param: SaltmasterIP }
          pnda_flavor: { get_param: PndaFlavor }
          specific_config: { get_param: specific_config }
  kafka:
    type: OS::Heat::ResourceGroup
    properties:
      count: { get_param: KafkaNodes }
      resource_def:
        type: OS::Pnda::kafka
        properties:
          Flavor: { get_param: KafkaFlavor }
          Image: { get_param: image_id }
          KeyName: { get_param: KeyName }
          name:
            str_replace:
              template: '%stackname%-kafka-%index%'
              params:
                '%stackname%': { get_param: deployment_name }
          NodeIndex: '%index%'
{%if create_network is equalto 1 %}
          PrivateNet: { get_param: private_net }
          PrivateSubnet: { get_param: private_subnet }
          pnda_secgroup: { get_param: PndaSecGroup }
          sec_group: { get_resource: KafkaSecGroup }
{%endif%}
          SaltmasterIP: { get_param: SaltmasterIP }
          cluster_name: { get_param: deployment_name }
          pnda_flavor: { get_param: PndaFlavor }
          specific_config: { get_param: specific_config }
  edge:
    type: OS::Pnda::edge
    properties:
      Flavor: { get_param: EdgeFlavor }
      Image: { get_param: image_id }
      KeyName: { get_param: KeyName }
      name:
        str_replace:
          template: '%stackname%-cdh-edge'
          params:
            '%stackname%': { get_param: deployment_name }
{%if create_network is equalto 1 %}
      PrivateNet: { get_param: private_net }
      PrivateSubnet: { get_param: private_subnet }
      pnda_secgroup: { get_param: PndaSecGroup }
{%endif%}
      SaltmasterIP: { get_param: SaltmasterIP }
      cluster_name: { get_param: deployment_name }
      pnda_flavor: { get_param: PndaFlavor }
      specific_config: { get_param: specific_config }
  cm:
    type: OS::Pnda::cm
    properties:
      Flavor: { get_param: CMFlavor }
      Image: { get_param: image_id }
      KeyName: { get_param: KeyName }
      name:
        str_replace:
          template: '%stackname%-cdh-cm'
          params:
            '%stackname%': { get_param: deployment_name }
{%if create_network is equalto 1 %}
      PrivateNet: { get_param: private_net }
      PrivateSubnet: { get_param: private_subnet }
      pnda_secgroup: { get_param: PndaSecGroup }
{%endif%}
      SaltmasterIP: { get_param: SaltmasterIP }
      cluster_name: { get_param: deployment_name }
      pnda_flavor: { get_param: PndaFlavor }
      specific_config: { get_param: specific_config }
  manager1:
    type: OS::Pnda::manager1
    properties:
      Flavor: { get_param: Manager1Flavor }
      Image: { get_param: image_id }
      KeyName: { get_param: KeyName }
      name:
        str_replace:
          template: '%stackname%-cdh-mgr1'
          params:
            '%stackname%': { get_param: deployment_name }
{%if create_network is equalto 1 %}
      PrivateNet: { get_param: private_net }
      PrivateSubnet: { get_param: private_subnet }
      pnda_secgroup: { get_param: PndaSecGroup }
{%endif%}
      SaltmasterIP: { get_param: SaltmasterIP }
      cluster_name: { get_param: deployment_name }
      pnda_flavor: { get_param: PndaFlavor }
      specific_config: { get_param: specific_config }
  manager2:
    type: OS::Pnda::manager2
    properties:
      Flavor: { get_param: Manager2Flavor }
      Image: { get_param: image_id }
      KeyName: { get_param: KeyName }
      name:
        str_replace:
          template: '%stackname%-cdh-mgr2'
          params:
            '%stackname%': { get_param: deployment_name }
{%if create_network is equalto 1 %}
      PrivateNet: { get_param: private_net }
      PrivateSubnet: { get_param: private_subnet }
      pnda_secgroup: { get_param: PndaSecGroup }
{%endif%}
      SaltmasterIP: { get_param: SaltmasterIP }
      cluster_name: { get_param: deployment_name }
      pnda_flavor: { get_param: PndaFlavor }
      specific_config: { get_param: specific_config }
  dn:
    type: OS::Heat::ResourceGroup
    properties:
      count: { get_param: DataNodes }
      resource_def:
        type: OS::Pnda::dn
        properties:
          Flavor: { get_param: DatanodeFlavor }
          Image: { get_param: image_id }
          KeyName: { get_param: KeyName }
          name:
            str_replace:
              template: '%stackname%-cdh-dn-%index%'
              params:
                '%stackname%': { get_param: deployment_name }
          NodeIndex: '%index%'
{%if create_network is equalto 1 %}
          PrivateNet: { get_param: private_net }
          PrivateSubnet: { get_param: private_subnet }
          sec_group: { get_resource: DNSecGroup }
          pnda_secgroup: { get_param: PndaSecGroup }
{%endif%}
{%if create_volumes is equalto 1 %}
          volume_size: { get_param: DatanodeVolumeSize }
          mountpoint: { get_param: DatanodeMountpoint }
{%endif%}
          cluster_name: { get_param: deployment_name }
          SaltmasterIP: { get_param: SaltmasterIP }
          pnda_flavor: { get_param: PndaFlavor }
          specific_config: { get_param: specific_config }

outputs:
  zookeeper_hosts:
    value: { get_attr: [zookeeper, hosts_entry] }
  kafka_hosts:
    value: { get_attr: [kafka, hosts_entry] }
